@font-face {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/baskerville.woff") format("woff");
}
@font-face {
  font-family: "Berlin";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/berlinsans-webfont.woff") format("woff");
}
:root {
  --font-serif: "Baskerville", serif;
  --font-sans: "Berlin", sans-serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --color-black: #222222;
  --color-grey: #898989;
  --color-light: #FAE8CC;
  --color-lighter: #FFF9EF;
  --border-radius: 0.75rem;
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --section-gap-inner-small: calc( var(--section-gap) * 0.5);
  --grid-gap: 2rem;
  --grid-gap-big: 6rem;
  --page-padding: 30px;
  --page-width: 78rem;
  --content-width: 50rem;
  --content-width-small: 25rem;
  --menu-height: 100px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: repeat(12, 1fr);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

picture {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  color: var(--color-light);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, a, li, span {
  font-family: var(--font-serif);
  line-height: 1.5;
  color: var(--color-grey);
}

p, li, span {
  font-size: var(--font-size-2);
}

.promo,
.gallery {
  background-color: var(--color-lighter);
}

.promo__img,
.gallery__img,
.membership__img,
.about__img {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.promo__img img,
.gallery__img img,
.membership__img img,
.about__img img {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.promo {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.promo__inner {
  grid-column: inner;
  display: flex;
}
.promo__img {
  margin-top: calc(var(--section-gap-inner) * -1);
}

.gallery {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 6rem 0 6rem 0;
}
.gallery__inner {
  grid-column: inner;
  display: grid;
  grid-template-columns: var(--grid-content);
  gap: var(--grid-gap);
}
.gallery__content {
  grid-column: 1/-1;
  text-align: center;
  margin: 0 auto;
  max-width: var(--content-width-small);
}
.gallery__flower, .gallery__text, .gallery__img-text {
  padding: 0;
  margin: 0;
}
.gallery__flower {
  padding-bottom: 1rem;
}
.gallery__text {
  padding-bottom: 1rem;
  color: var(--color-black);
}
.gallery__item-1 {
  grid-column: 1/5;
}
.gallery__item-2 {
  grid-column: 5/9;
}
.gallery__item-3 {
  grid-column: 9/13;
}
.gallery__img-text {
  text-align: center;
  padding-top: 1rem;
  font-size: var(--font-size-1);
}

.membership {
  display: grid;
  grid-template-columns: var(--grid-container);
  background-color: var(--color-black);
  padding: 5rem 0 5rem 0;
}
.membership__inner {
  grid-column: inner;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--grid-gap-big);
}
.membership__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--content-width-small);
}
.membership__flower {
  margin: 0;
  padding: 0 0 1rem 0;
}
.membership__title, .membership__text, .membership__link {
  margin: 0;
}
.membership__title {
  padding: 0 0 0.4rem 0;
}
.membership__text {
  position: relative;
  padding: 0.75rem 0 0 0;
}
.membership__text::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  background-color: var(--color-grey);
  top: 0;
  bottom: 0;
}
.membership__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--sans);
  padding: 3rem 0 0 0;
  text-decoration: none;
  cursor: pointer;
}
.membership__link span {
  color: var(--color-light);
  font-size: var(--font-size-1);
}
.membership__link span:hover {
  color: var(--color-grey);
}
.membership__arrow {
  padding: 0 0.75rem 0 0;
}
.membership__link .membership__link-text {
  position: relative;
  transition: all 0.5s;
  left: 0;
}
.membership__link:hover .membership__link-text {
  left: 0.25rem;
}
.membership__img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.about {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 6rem 0 6rem 0;
  background-color: var(--color-lighter);
}
.about__inner {
  grid-column: inner;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about__flower, .about__title, .about__year {
  margin: 0;
}
.about__flower {
  padding: 0 0 1rem 0;
}
.about__year {
  padding: 0;
  font-size: var(--font-size-1);
}
.about__title {
  color: var(--color-black);
}
.about__img, .about__text {
  padding: 1rem 0 0 0;
}
.about__text {
  max-width: var(--content-width);
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: var(--grid-container);
  height: var(--menu-height);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.header__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu-button {
  background: none;
  border: 0;
  padding: 0;
  height: 40px;
  width: 26px;
}
.header .menu-button__hamburger {
  height: 2px;
  width: 100%;
  background: var(--color-light);
  position: relative;
}
.header .menu-button__hamburger::before, .header .menu-button__hamburger::after {
  content: "";
  height: 2px;
  width: 100%;
  left: 0;
  background: var(--color-light);
  position: absolute;
}
.header .menu-button__hamburger::before {
  top: -8px;
}
.header .menu-button__hamburger::after {
  top: 8px;
}

.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 6rem 0 6rem 0;
  background-color: var(--color-black);
}
.footer__inner {
  grid-column: inner;
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
}
.footer__flower, .footer__title, .footer__text {
  margin: 0;
  padding: 0;
}
.footer__flower {
  padding: 0 0 1rem 0;
}
.footer__title {
  padding: 0 0 0.25rem 0;
}
.footer__text {
  max-width: var(--content-width-small);
  text-align: center;
  position: relative;
  padding: 0.75rem 0 0 0;
}
.footer__text::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: var(--color-grey);
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--sans);
  padding: 3rem 0 0 0;
  text-decoration: none;
  cursor: pointer;
}
.footer__link span {
  color: var(--color-light);
  font-size: var(--font-size-1);
}
.footer__link span:hover {
  color: var(--color-grey);
}
.footer__arrow {
  padding-right: 0.75rem;
}
.footer__link .footer__link-text {
  position: relative;
  transition: all 0.5s;
  left: 0;
}
.footer__link:hover .footer__link-text {
  left: 0.25rem;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer__item {
  padding-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  font-size: var(--font-size-1);
}

.hero {
  display: grid;
  grid-template-columns: var(--grid-container);
  min-height: calc(100vh + var(--section-gap-inner));
  width: 100%;
  background-color: var(--color-black);
}
.hero__inner {
  grid-column: inner;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 1;
}
.hero__content {
  text-align: center;
  z-index: 2;
}
.hero__flower {
  margin: 0;
  padding: 0 0 1rem 0;
}
.hero__title, .hero__text, .hero__link {
  margin: 0;
  padding: 0;
}
.hero__text {
  position: relative;
  padding: 0.6rem 0 0 0;
}
.hero__text::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-grey);
}
.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--sans);
  padding: 6rem 0 0 0;
  text-decoration: none;
  cursor: pointer;
}
.hero__link span {
  color: var(--color-light);
  font-size: var(--font-size-1);
}
.hero__link span:hover {
  color: var(--color-grey);
}
.hero__arrow {
  padding-right: 0.75rem;
}
.hero__link .hero__link-text {
  position: relative;
  transition: all 0.5s;
  left: 0;
}
.hero__link:hover .hero__link-text {
  left: 0.25rem;
}

/*# sourceMappingURL=style.css.map */
