@mixin standard (
    $color: var(--color-light), 
    $justify-content: center,
    $align-items: center,
    $font-size: var(--font-size-1),
    $hover-color: var(--color-grey),
    $padding: 3rem 0 0 0
){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    font-family: var(--sans);
    padding: $padding;
    text-decoration: none;
    cursor: pointer;
    
    span {
        color: $color;
        font-size: $font-size;
    }

    span:hover {
        color: $hover-color;
    }

}


