@use '../components/buttons' as button;
.promo, 
.gallery {
    background-color: var(--color-lighter);

}

.promo,
.gallery,
.membership,
.about {
    &__img {
        border-radius: var(--border-radius);
        overflow: hidden;
        
        img {
            border-radius: var(--border-radius);
            overflow: hidden;
        }
    }
    
}

.promo {
    display: grid;
    grid-template-columns: var(--grid-container);
    
    &__inner {
        grid-column: inner;
        display: flex;
    }
    
    &__img {
        margin-top: calc( var(--section-gap-inner)* -1);
    }

}

.gallery {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 6rem 0 6rem 0;

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        gap: var(--grid-gap);
    }

    &__content {
        grid-column: 1/-1;
        text-align: center;
        margin: 0 auto;
        max-width: var(--content-width-small);
    }

    &__flower, 
    &__text,
    &__img-text {
        padding: 0;
        margin: 0;
    }

    &__flower {
        padding-bottom: 1rem;
    }

    &__text {
        padding-bottom: 1rem;
        color: var(--color-black);
    }
    
    &__item-1 {
        grid-column: 1/5;
    }
    
    &__item-2 {
        grid-column: 5/9
    }
    
    &__item-3 {
        grid-column: 9/13;
    }

    &__img-text {
        text-align: center;
        padding-top: 1rem;
        font-size: var(--font-size-1);
    }

}

.membership {
    display: grid;
    grid-template-columns: var(--grid-container);
    background-color: var(--color-black);
    padding: 5rem 0 5rem 0;
    
    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--grid-gap-big);
    }

    // flex-direction: column; definierar main-axsis (y-led, uppfrån ocn ned) 
    // justify-content: center; centrerar textinnehållet i y-led, uppifrån och ned 
    // flex-direction: column - block - innehållet staplat på varandra 
    // flex-direction: row - inline - innehållet på en rad
    
    &__content {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        max-width: var(--content-width-small);
    }

    &__flower {
        margin: 0;
        padding: 0 0 1rem 0;
    }

    
    &__title,
    &__text,
    &__link {
        margin: 0;
    }

    &__title {
        padding: 0 0 0.4rem 0;
    }

    &__text {
        position: relative; 
        padding: 0.75rem 0 0 0;
    }
    
    &__text::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 70px;
        background-color: var(--color-grey);
        top: 0;
        bottom: 0;
    }

    &__link {
        @include button.standard (
            $color: var(--color-light), 
            $font-size: var(--font-size-1),
            $hover-color: var(--color-grey),
            $justify-content: flex-start,
            $align-items: center,
            $padding: 3rem 0 0 0
        )
    }

    &__arrow {
        padding: 0 0.75rem 0 0;
    }

    &__link &__link-text {
        position: relative;
        transition: all 0.5s;
        left: 0; 
    }

    &__link:hover &__link-text {
        left: 0.25rem; 
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}


.about {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 6rem 0 6rem 0;
    background-color: var(--color-lighter);

    &__inner {
        grid-column: inner;
    }


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    &__flower, 
    &__title,
    &__year {
        margin: 0;
    }
    
    &__flower {
        padding: 0 0 1rem 0;
    }

    &__year {
        padding: 0;
        font-size: var(--font-size-1);
    }

    &__title {
        color: var(--color-black);
    }

    &__img,
    &__text {
        padding: 1rem 0 0 0;
    }

    &__text {
        max-width: var(--content-width);
        margin: 0 auto;
    }
}