:root {

    // Fonts
    --font-sans: sans-serif;
    --font-serif: serif; 

    // Font base & scale 
    --font-base: 1rem; 
    --font-scale: 1.25;

    --font-size-1: var(--font-base);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) ); 
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) ); 
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) ); 
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) ); 
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) ); 

    // Colors
    --color-accent: #DBDBD7;
    --color-light: #ededed;
    --color-medium: #373737;
    --color-dark: #313131; 

    // Section gaps
    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );
    --section-gap-inner-small: calc(  var(--section-gap) * 0.5);
    
    // Grid gaps
    --grid-gap: 3rem;

    // Page settings 
    --page-padding: 30px;
    --page-width: 78rem;

    // Content settings
    --content-width: 50rem; 
    --content-width-small: 40rem;

    // Menu settings
    --menu-height: 100px;

   // Grids 
    --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
    --grid-content: repeat(12, 1fr); 

}